.posts-title {
  color: white;
}

/* .post-container {
  height: 400px;
  width: 800px;
  border: 1px solid white;
  border-radius: 0.5rem;
  margin: 0 auto;
}

.post-body {
  height: 75%;
  width: 45%;
  border: 1px solid white;
  border-radius: 0.5rem;
  margin: 7% 0 0 2%;
}

.post-side {
  display: flex;
  justify-content: flex-end;
} */
