* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important; }
  
  /* .signUp-Container {
    position: relative;
    width: 1680px;
    height: 960px;
    left: 80px;
    top: 1200px;
  
    background: #ffffff;
  } */
  
  .signUp-text {
  text-align: center;
  color:rgb(211, 217, 222);
  margin-top: 5%;
}

.signUp-form {
  width: 600px;
  height: 425px;
  margin: auto;
  margin-top: 2%;
  text-align: center;
  background: #b3abab;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.signUp-h3 {
  width: 558px;
  height: 36px;
  left: 78px;
  top: 32px;
  margin-top: 2%;

  /* Body H3 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #000000;
}

.signUp-firstName {
  width: 237px;
  height: 40px;
  left: 78px;
  top: 130px;
  margin: 2%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.signUp-lastName {
  width: 237px;
  height: 40px;
  left: 330px;
  top: 130px;
  margin: 2%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.signUp-email {
  width: 494px;
  height: 40px;
  left: 78px;
  top: 200px;
  margin-top: 5%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.signUp-password {
  width: 494px;
  height: 40px;
  left: 78px;
  top: 271px;
  margin-top: 5%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.signup-button {
  width: 130px;
  height: 40px;
  left: 78px;
  top: 335px;
  margin-top: 8%;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 700px) {
  body {
    background-color: rgb(2, 2, 46);
    }
  .signUp-text {
    font-size: 30px;
  }
  .signUp-form {
    width: 500px;
    height: 425px;
    text-align: center;
  }
  .signUp-h3 {
    width: 500px;
    height: 36px;
    font-size: 24px;
    text-align: center;
  }
  .signUp-email {
    width: 400px;
    height: 40px;
  }
  .signUp-password {
    width: 400px;
    height: 40px;
  }

  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: rgb(2, 2, 46);
      }
    .signUp-text {
      font-size: 20px;
    }
    .signUp-form {
      width: 400px;
      height: 350px;
      text-align: center;
    }
    .signUp-h3 {
      width: 400px;
      height: 36px;
      font-size: 25px;
      text-align: center;
    }
    .signUp-firstName {
      width: 200px;
      height: 30px;
      font-size: 14px;
    }
    .signUp-lastName {
      width: 200px;
      height: 30px;
      font-size: 14px;
    }
    .signUp-email {
      width: 300px;
      height: 35px;
    }
    .signUp-password {
      width: 300px;
      height: 35px;
    }
    .signup-button {
      width: 100px;
      height: 38px;
      margin-top: 6%;
    }
  
    }