.delete-comment-btn {
  color: red;
  background-color: transparent;
  border-color: transparent;
}

.submitEdit-comment-btns {
  color: red;
  background: url('https://icons555.com/images/icons-red/image_icon_edit_user_pic_512x512.png');
  background-color: transparent;
  border-color: transparent;
  margin-left: 2%;
  font-size: 10px;
}