* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important; 
}

.signIn-h1 {
  text-align: center;
  color:rgb(211, 217, 222);
  margin-top: 5%;
}

.signIn-form {
  width: 600px;
  height: 400px;
  margin: auto;
  margin-top: 2%;
  text-align: center;
  background: #b3abab;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.signIn-h3 {
  width: 590px;
  height: 36px;
  margin-top: 4%;
  
  /* Body H4 */
  
  font-family: Montserrat;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #000000;
  border-radius: 0.5rem;
}

.signIn-email {
  color: black;
  font-size: 20px;
  width: 494px;
  height: 50px;
  left: 78px;
  top: 200px;
  margin-top: 5%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.signIn-password {
  color: black;
  width: 494px;
  height: 50px;
  left: 78px;
  top: 271px;
  margin-top: 5%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.signIn-button {
  font-size: 26px;
  width: 130px;
  height: 40px;
  left: 78px;
  top: 335px;
  margin-top: 6%;
  border-radius: 0.5rem;
  background-color: transparent;
  border-color: transparent;
}
.signIn-button:hover {
  color: blue;
}

@media only screen and (max-width: 700px) {
  body {
    background-color: rgb(2, 2, 46);
    }
  .signIn-h1 {
    font-size: 30px;
  }
  .signIn-form {
    width: 500px;
    height: 425px;
    text-align: center;
  }
  .signIn-h3 {
    width: 500px;
    height: 36px;
    font-size: 24px;
    text-align: center;
  }
  .signIn-email {
    width: 400px;
    height: 40px;
  }
  .signIn-password {
    width: 400px;
    height: 40px;
  }

  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: rgb(2, 2, 46);
      }
    .signIn-h1 {
      font-size: 20px;
    }
    .signIn-form {
      width: 400px;
      height: 280px;
      text-align: center;
    }
    .signIn-h3 {
      width: 400px;
      height: 36px;
      font-size: 25px;
      text-align: center;
    }
    .signIn-email {
      width: 300px;
      height: 35px;
    }
    .signIn-password {
      width: 300px;
      height: 35px;
    }
    .signIn-button {
      width: 100px;
      height: 38px;
      font-size: 18px;
      margin-top: 6%;
    }
  
    }