* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important; 
  color: white;
}

p {
  color: white;
  text-align: center;
}

.PostsForm-inputs {
 text-align: center;
 
}

.caption-input {
  font-size: 12px;
  margin-bottom: .5%;
}

.choose-file {
  font-size: 12px;
}

.postform-submit-btn {
  font-size: 18px;
  color: red;
  background-color: transparent;
  border-color: transparent;
  margin-top: 1%;
}