* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important; 
  color: white;
}

p {
  color: white;
  text-align: center;
}

.PostsForm-inputs {
  display: inline;
}

.caption-input {
  font-size: 12px;
  margin-bottom: .5%;
}

.choose-file {
  margin-bottom: 1%;
  font-size: 12px;
}

.postform-submit-btn {
  font-size: 14px;
  color: red;
  background-color: transparent;
  border-color: transparent;
}