.user-comments-conatiner {
  display: flex;
  /* align-items: ; */
}
label {
  font-size: 12px;
  color: aliceblue;
  margin-bottom: -1%;
}

.username-input {
  font-size: 12px;
  color: black;
}

.comment-input {
  margin-top: 1%;
  font-size: 12px;
  color: black;
}

.addcomment-btn {
  color: blue;
  background-color: transparent;
  border-color: transparent;
  margin-top: -1%;
}